<div class="w-[800px] h-[50vh] border-gray-400 border-r-2 border-b-2 flex flex-col justify-between">
    <p class="px-8 py-4">{{ clientTestimony }}</p>

    <div class="flex gap-4 p-8 items-center">
        <div class="rounded-full">
            <img class="rounded-full object-contain" width=100  src="{{ clientImage }}" alt="client image">
        </div>
        <div class="flex flex-col">
            <span class="font-bold">{{ clientName }}</span>
            <span>{{ clientTitle }}</span>
        </div>
    </div>
</div>