<div class="py-4">

  <div class="flex w-full py-8 px-14 gap-8 border-b-2 border-gray-500">
    <h1>{{"title"}}</h1>

    <h2>My favorite hero is: {{"myHero"}}</h2>
    <p>Heroes:</p>
  </div>


  <div class="flex border-b-2 border-gray-500">

    <div class="flex-1 flex flex-col justify-between py-16 items-center">

      <div class="flex flex-col">
        <span class="text-6xl font-black">Analyse<span class="text-6xl text-orange-600">,</span></span>
        <span class="text-6xl font-black">Advise<span class="text-6xl text-orange-600">,</span></span>
        <span class="text-6xl font-black">Manage<span class="text-6xl text-orange-600">.</span></span>
      </div>

      <div class="px-16">
        <span class="text-justify">Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
          solution without additional software</span>
      </div>
    </div>

    <div class="flex-1">
      <img
        src="https://images.unsplash.com/photo-1492683962492-deef0ec456c0?q=80&w=2056&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="hero" />
    </div>

  </div>

  <div class="flex h-[50vh]">
    <div class="flex-1 min-h-48 gap-8 flex flex-col py-8 px-16  border-2 border-gray-500">
      <h1 class="text-6xl font-semibold">75</h1>
      <span class="text-4xl font-black text-orange-600">Markets</span>
      <p class="text-sm text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software,
      </p>
    </div>

    <div class="flex-1 min-h-48 gap-8 flex flex-col py-8 px-16  border-2 border-gray-500">
      <h1 class="text-6xl font-semibold">75</h1>
      <span class="text-4xl font-black text-orange-600">Markets</span>
      <p class="text-sm text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software,
      </p>
    </div>

    <div class="flex-1 min-h-48 gap-8 flex flex-col py-8 px-16  border-2 border-gray-500">
      <h1 class="text-6xl font-semibold">75</h1>
      <span class="text-4xl font-black text-orange-600">Markets</span>
      <p class="text-sm text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software,
      </p>
    </div>
  </div>

  <div class="h-[50vh] flex">
    <div class="flex-1 flex flex-col text-8xl justify-end py-8 items-center ">
      <div class="flex flex-col font-black">
        <span>our</span> <span> services</span>
      </div>
    </div>
    <div class="flex-1 flex items-end py-16 px-32">
      <p class="text-xl text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software, especially on Windows where browser output assignment is
      </p>
    </div>
  </div>

  <div class="flex flex-wrap">

    <div class="h-[50vh] border-2 border-gray-500 w-1/2 px-8 py-8 flex flex-col gap-4">

      <h1 class="text-3xl py-8 px-2 text-orange-600 font-black">Consulting</h1>

      <p class="text-xl text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software
      </p>

      <button class="bg-orange-600 font-black w-fit text-white px-8 py-5 text-xl">Learn More .....</button>
    </div>


    <div class="h-[50vh] border-2 border-gray-500 w-1/2 px-8 py-8 flex flex-col gap-4">

      <h1 class="text-3xl py-8 px-2 text-orange-600 font-black">Consulting</h1>

      <p class="text-xl text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software
      </p>

      <button class="bg-orange-600 font-black w-fit text-white px-8 py-5 text-xl">Learn More .....</button>
    </div>


    <div class="h-[50vh] border-2 border-gray-500 w-1/2 px-8 py-8 flex flex-col gap-4">

      <h1 class="text-4xl py-8 px-2 text-orange-600 font-black">Consulting</h1>

      <p class="text-xl text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software
      </p>

      <button class="bg-orange-600 font-black w-fit text-white px-8 py-5 text-xl">Learn More .....</button>
    </div>
    <div class="h-[50vh] border-2 border-gray-500 w-1/2 px-8 py-8 flex flex-col gap-4">

      <h1 class="text-4xl py-8 px-2 text-orange-600 font-black">Consulting</h1>

      <p class="text-xl text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software
      </p>

      <button class="bg-orange-600 font-black w-fit text-white px-8 py-5 text-xl">Learn More .....</button>
    </div>

  </div>


  <div>

    <div class="h-[50vh] flex items-end px-8">

      <div class="flex-1 flex flex-col text-6xl font-black">
        <span>
          Production
        </span>
        <span>
          Intelligence
        </span>
      </div>

      <div class="flex-1 text-xl">
        <p class="text-justify"> 
          Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
          solution without additional software, especially on Windows where browser output assignment
        </p>
      </div>

    </div>

    <div class="flex justify-center py-32">
      <img class="w-[95%] h-[60vh] object-fill"
        src="https://images.unsplash.com/photo-1531030851642-dfc7dde9895d?q=80&w=2060&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="hero" />
    </div>
    <div>
    </div>
  </div>

  <div class="flex  border-gray-400 border-2">

    <diV class="flex-1">

      <div class="flex justify-center items-center py-8 border-b-2">
        <span class="text-4xl font-black ">Disruption</span>
      </div>

      <div class="flex justify-center items-center py-8 border-b-2">
        <span class="text-4xl font-black text-orange-500">Disruption</span>
      </div>

      <div class="flex justify-center items-center py-8 border-b-2">
        <span class="text-4xl font-black">Disruption</span>
      </div>


    </diV>

    <diV class="flex-1 flex justify-center items-center px-48 border-l-2">
      <p class="text-xl text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software, especially on Windows where browser output assignment is
      </p>
    </diV>
    </div>

  <div class="flex h-[50vh] justify-end">

    <div class="flex-1 flex flex-col p-8 justify-end" >
        <span class="text-6xl font-black">client</span>
        <span class="text-6xl text-orange-600 font-black">testimonials</span>
    </div>

    <div class="flex-1 flex gap-3 p-8 justify-end items-end">
      <div class="flex w-16 h-16 border justify-center items-center border-gray-300 cursor-pointer" onclick="scrollLeft()">
        &lt;
      </div>
    
      <div class="flex bg-orange-500 text-white w-16 h-16 border justify-center items-center border-gray-300 cursor-pointer" onclick="scrollRight()">
        &gt;
      </div>
    </div>
  </div>

  <div class="flex flex-row overflow-x-auto scroll-smooth client-card-container" >  
    <client-card
      *ngFor="let client of clients"
      [clientName]="client.clientName"
      [clientTitle]="client.clientTitle"
      [clientTestimony]="client.clientTestimony"
      [clientImage]="client.clientImage">
    </client-card>
  </div>


</div>