<div class="py-4 bg-[#f1f1f1]">

  <div class="flex w-full py-8 px-14 gap-8 border-b-2 border-gray-500">
    <h1>{{"title"}}</h1>

    <h2>My favorite hero is: {{"myHero"}}</h2>
    <p>Heroes:</p>
  </div>


  <div class="flex  border-gray-500 h-96">

    <div class="flex-1 flex flex-col justify-between py-16 items-center">

      <div class="flex flex-col">
        <span class="text-6xl font-black">Innovation<span class="text-6xl text-blue-600">,</span></span>
        <span class="text-6xl font-black">Inclusion<span class="text-6xl text-blue-600">,</span></span>
        <span class="text-6xl font-black">Simplicity<span class="text-6xl text-blue-600">.</span></span>
      </div>

      <div class="px-16 py-4">
        <span class="text-center text-sm">
          "We are called to be architects of the future, not its victims." <br /> <span class="font-semibold">~ Buckminster Fuller</span> </span>
      </div>
    </div>

    <div class="flex-1">
      <app-lottie-animation />
    </div>

  </div>

  <div class="flex h-[30vh] justify-end border-b-2 border-gray-500">

    <div class="flex-1 flex flex-col p-8 justify-end">
      <span class="text-6xl font-black">Who</span>
      <span class="text-6xl text-blue-600 font-black">I am ?</span>
    </div>

    <div class="flex-1 flex gap-3 p-8 text-lg justify-end items-end">
      <p class="text-lg text-justify">
        I&apos;m <span class="font-bold">Baraka Francis Nampellah</span>, a software developer from Tanzania
        specializing in blockchain technology,
        particularly <span class="font-bold">Hyperledger Fabric</span>. I am passionate about creating inclusive digital
        solutions aligned with the
        Sustainable Development Goals (SDGs). <span class="font-bold">I envision technology empowering communities,
          enhancing transparency, and
          fostering collaboration to achieve goals like poverty reduction, quality education, and climate action.</span>
      </p>
    </div>
  </div>




  <div class="flex">
    <div class="flex-1 min-h-54 gap-8 flex flex-col py-8 px-16  border-r-2 border-b-2 border-gray-500">
      <img src="https://dit.ac.tz/images/logo.png" alt="hero" class="w-24 object-cover" />
      <span class="text-2xl font-black text-blue-600">Bachelor in Computer Engineering</span>
      <div class="h-48 overflow-hidden">
        <p class="text-lg text-justify ">
          At <span class="font-bold">Dar es Salaam Institute of Technology</span> from 2020 to 2024. Gained strong
          skills in software development, systems design, and engineering principles, ready for a tech career.
        </p>
      </div>

    </div>

    <div class="flex-1 min-h-54 gap-8 flex flex-col py-8 px-16 border-r-2 border-b-2 border-gray-500">
      <img src="https://www.atc.ac.tz/rjm/img/atc%20logo.png" alt="hero" class="w-24 object-cover" />
      <span class="text-2xl font-black text-blue-600">OD. In telecom & Electronics Engineering</span>
      <div class="h-48 overflow-hidden">
        <p class="text-lg text-justify ">
          At <span class="font-bold">Arusha Technical College</span> from 2016 to 2020. Gained hands-on experience in
          communication systems, electronics, and networking.
        </p>
      </div>

    </div>

    <div class="flex-1 min-h-54 gap-8 flex flex-col py-8 px-16  border-b-2 border-gray-500">
      <img src="https://www.wqu.edu/_next/static/media/logo-full-color.244f5961.svg" alt="hero"
        class="w-52 object-cover" />
      <span class="text-2xl font-black text-blue-600">Applied Data <br /> Science</span>
      <div class="h-48 overflow-hidden">
        <p class="text-lg text-justify ">
          At <span class="font-bold ">World Quant University</span>. Gained expertise in data analysis, machine
          learning, and statistical modeling, empowering data-driven decision-making and effective contributions to tech
          and business solutions.
        </p>
      </div>

    </div>
  </div>

  <div class="h-[50vh] flex border-b-2 border-gray-500">
    <div class="flex-1 flex flex-col text-8xl justify-end py-8 items-center ">
      <div class="flex flex-col font-black">
        <span>our</span> <span> services</span>
      </div>
    </div>
    <div class="flex-1 flex items-end py-16 px-32">
      <p class="text-xl text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software, especially on Windows where browser output assignment is
      </p>
    </div>
  </div>

  <div class="flex flex-wrap">

    <div class="h-[50vh] border-r-2 border-b  w-1/2 px-8 py-8 flex flex-col gap-4">

      <h1 class="text-3xl py-8 px-2 text-blue-600 font-black">Consulting</h1>

      <p class="text-xl text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software
      </p>

      <button class="bg-blue-600 font-black w-fit text-white px-8 py-5 text-xl">Learn More .....</button>
    </div>


    <div class="h-[50vh] border-r-2 border-b  w-1/2 px-8 py-8 flex flex-col gap-4">

      <h1 class="text-3xl py-8 px-2 text-blue-600 font-black">Consulting</h1>

      <p class="text-xl text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software
      </p>

      <button class="bg-blue-600 font-black w-fit text-white px-8 py-5 text-xl">Learn More .....</button>
    </div>


    <div class="h-[50vh] border-r-2 border-b  w-1/2 px-8 py-8 flex flex-col gap-4">

      <h1 class="text-4xl py-8 px-2 text-blue-600 font-black">Consulting</h1>

      <p class="text-xl text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software
      </p>

      <button class="bg-blue-600 font-black w-fit text-white px-8 py-5 text-xl">Learn More .....</button>
    </div>
    <div class="h-[50vh] border-r-2 border-b  w-1/2 px-8 py-8 flex flex-col gap-4">

      <h1 class="text-4xl py-8 px-2 text-blue-600 font-black">Consulting</h1>

      <p class="text-xl text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software
      </p>

      <button class="bg-blue-600 font-black w-fit text-white px-8 py-5 text-xl">Learn More .....</button>
    </div>

  </div>


  <div>

    <div class="h-[50vh] flex items-end px-8 border-t-2 border-gray-500">

      <div class="flex-1 flex flex-col text-6xl font-black">
        <span>
          Production
        </span>
        <span>
          Intelligence
        </span>
      </div>

      <div class="flex-1 text-xl">
        <p class="text-justify">
          Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
          solution without additional software, especially on Windows where browser output assignment
        </p>
      </div>

    </div>

    <div class="flex justify-center py-32">
      <img class="w-[95%] h-[60vh] object-fill"
        src="https://images.unsplash.com/photo-1531030851642-dfc7dde9895d?q=80&w=2060&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="hero" />
    </div>
    <div>
    </div>
  </div>

  <div class="flex  border-gray-400 border-2">

    <diV class="flex-1">

      <div class="flex justify-center items-center py-8 border-b-2">
        <span class="text-4xl font-black ">Disruption</span>
      </div>

      <div class="flex justify-center items-center py-8 border-b-2">
        <span class="text-4xl font-black text-blue-500">Disruption</span>
      </div>

      <div class="flex justify-center items-center py-8 border-b-2">
        <span class="text-4xl font-black">Disruption</span>
      </div>


    </diV>

    <diV class="flex-1 flex justify-center items-center px-48 border-l-2">
      <p class="text-xl text-justify">
        Using separate browsers with distinct audio outputs works well for isolating sound if you need a quick
        solution without additional software, especially on Windows where browser output assignment is
      </p>
    </diV>
  </div>

  <div class="flex h-[50vh] justify-end border-b-2 border-gray-500">

    <div class="flex-1 flex flex-col p-8 justify-end">
      <span class="text-6xl font-black">client</span>
      <span class="text-6xl text-blue-600 font-black">testimonials</span>
    </div>

    <div class="flex-1 flex gap-3 p-8 justify-end items-end">
      <div class="flex w-16 h-16 border justify-centepy-16r items-center border-gray-300 cursor-pointer"
        onclick="scrollLeft()">
        &lt;
      </div>

      <div
        class="flex bg-blue-500 text-white w-16 h-16 border justify-center items-center border-gray-300 cursor-pointer"
        onclick="scrollRight()">
        &gt;
      </div>
    </div>
  </div>

  <div class="flex flex-row overflow-x-auto scroll-smooth client-card-container">
    <client-card *ngFor="let client of clients" [clientName]="client.clientName" [clientTitle]="client.clientTitle"
      [clientTestimony]="client.clientTestimony" [clientImage]="client.clientImage">
    </client-card>
  </div>

  <div class="h-[50vh] flex items-end px-8 ">

    <div class="flex-1 flex flex-col text-6xl font-black">
      <span>
        Our Latest Blog
      </span>

    </div>

    <div class="flex-1 flex justify-end items-end text-xl">
      <div class="border-2 border-gray-500 px-5 py-2">
        Latest
      </div>
    </div>

  </div>

  <div class="flex flex-row overflow-x-auto scroll-smooth client-card-container border border-gray-400 my-4">
    <work-card *ngFor="let client of clients" [workButton]="client.clientName" [workTitle]="client.clientTitle"
      [workDetail]="client.clientTestimony" [workImage]="client.clientImage">
    </work-card>
  </div>



  <div class="h-[50vh] flex items-center justify-center gap-8 flex-col px-8">

    <span class="text-6xl font-black">Keeping you inform and current</span>
    <span class="text-center px-32">Using separate browsers with distinct audio outputs works well for isolating sound
      if you need a quick
      solution without additional software, especially on Windows where browser output assignment is</span>
    <div>
      <input type="text" placeholder="Enter your email" class="border-2 border-gray-500 px-5 py-2" />
    </div>
  </div>


  <div class="flex  border border-gray-500 ">
    <div class="flex-1 flex flex-col gap-8 justify-center px-32 border-r-2 border-gray-500 py-16">

      <span>
        lets work together ! give us a call <br /> or send us an email
      </span>

      <div class="border-b-2 py-4 text-xl font-semibold flex justify-between" *ngFor="let contact of contacts">
        <span>{{ contact.type }}</span>
        <span>{{ contact.value }}</span>
      </div>


    </div>

    <div class="flex-1 flex p-16">

      <div class="flex-1 flex flex-col justify-end gap-8 ">

        <div *ngFor="let link of links">
          <span>{{ link.linkText }}</span>
        </div>

      </div>

      <div class="flex-1 px-8">
        <div> <img
            src="https://images.unsplash.com/photo-1531030851642-dfc7dde9895d?q=80&w=2060&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="hero" /></div>
        <div>
        </div>
      </div>

    </div>
  </div>



</div>